.no-orders {
  font-size: 20px;
  margin: 40px 0px;
}

.dashboard-stats {
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 1860px) {
    flex-direction: column;
  }

  @media (max-width: 808px) {
    justify-content: center;
    gap: 10px;
  }

  .cards-container {
    // width: 45%;
    display: flex;
    justify-content: space-between;
    gap: 145px;
    margin-bottom: 35px;

    @media (max-width: 1860px) {
      gap: 65px;
    }

    @media (max-width: 808px) {
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
    }

    @media (max-width: 760px) {
      &:first-of-type {
        flex-direction: column-reverse;
      }
    }

    .bar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 250px;
      box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
      border-radius: 15px;

      @media (max-width: 410px) {
        width: 310px !important;
        align-self: center;
      }

      h1 {
        font-size: em(19px);
      }
    }

    .revenue {
      width: 307px !important;
    }

    .pie-container {
      box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 250px;

      @media (max-width: 808px) {
        justify-content: space-around;
        width: 350px !important;
        height: 240px;
        gap: 10px;
      }

      @media (max-width: 410px) {
        width: 310px !important;
      }

      h1 {
        font-size: em(19px);

        @media (max-width: 808px) {
          margin-top: 22px;
        }
      }

      .nights-pie {
        height: 180px;
        width: 307px;
        align-self: flex-start;

        @media (max-width: 808px) {
          margin-bottom: 22px;
        }
      }
    }

    .stats-card {
      padding: 25px;
      width: 350px;
      height: 250px;
      box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
      border-radius: 15px;

      @media (max-width: 808px) {
        width: 350px !important;
        height: 200px !important;
      }

      @media (max-width: 410px) {
        width: 310px !important;
      }

      h1 {
        font-size: em(19px);
        text-align: center;
        padding-bottom: 30px;
      }

      .details {
        display: flex;
        flex-direction: column;

        .rev-stat {
          display: flex;
          justify-content: space-between;
          padding-bottom: 13px;
          font-size: em(16px);
          font-weight: 600;
        }
      }
    }
  }

  .apexcharts-menu-icon {
    display: none;
  }

  .pending-stat {
    color: #0000db;
  }

  .canceled-stat {
    color: #b40000;
  }

  .total-stat {
    color: #338300;
  }
}
