.explore-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px;
  margin: 9px 0px;
  border-radius: 20px;
  justify-content: center;
}

.amenities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.amenity-mini-container {
  height: 35px;
  display: flex;
  align-items: center;
  align-self: baseline;
  justify-content: center;
  margin-top: 7px;
}

.price-and-type-filters-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-filter-item {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 15px;
  margin: 0px 3px;
  height: 36px;

  border-radius: 50px;
}

.select-type-cont {
  position: relative !important;
  border: 1px solid $clr6;
  transition: 0.15s;
  color: $clr2;
  //   display: inline-block !important;
}

.typeSelected {
  border: 1px solid $clr2 !important;
}

.select-type-cont:hover {
  border: 1px solid $clr2;
}

.el-select--small {
  width: 110px;
}

.type-select {
  cursor: pointer;
  opacity: 0;
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 36px;
  // height: 100% !important;
}

.type-span {
  // font-weight: bold;
  font-size: em(15px);
  line-height: 0px !important;
  cursor: pointer;
}

.select-price {
  position: relative !important;
  width: 90px;
  cursor: pointer;
  margin-left: 0px !important;
}

.wifi,
.smoking {
  margin-left: 0px !important;
}

.modal {
  position: absolute !important;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px rgb(0 0 0 / 25%);
  border-radius: 10px;
  color: $clr2;
  background-color: $clr3;
  z-index: 100;
}

.modal-container {
  margin: auto;
  width: 90%;
  height: 75%;
  margin-top: 30px;
  margin-bottom: 17px;
}

.showTypeFilter {
  transform: translateX(1%) !important;
}

.type-modal {
  width: 400px;
  height: 420px;
  top: 40px;
  left: 0px;
  transform: translateX(-470%);
  font-size: em(15px);

  @media (max-width: 610px) {
    left: -80px !important;
  }

  @media (max-width: 472px) {
    left: -100px !important;
    width: 90vw;
  }

  @media (max-width: 472px) {
    height: 490px;
  }

  .type-modal-btns-container {
    align-self: center;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    width: 180px;
  }

  .type-modal-btn {
    border: 1px solid $clr2;
    padding: 6px 0px;
    border-radius: 7px;
    font-weight: 600;
    transition: 0.15s;
    cursor: pointer;
  }

  .btn-close {
    width: 70px;
    margin: auto;
    color: $clr3;
    background-color: $clr2;
  }

  .btn-close:hover {
    opacity: 0.9;
  }

  .btn-clear:hover {
    background-color: $clr6;
  }

  /* Customize the label (the container) */
  .line-container {
    display: block;
    position: relative;

    margin-bottom: 12px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .line-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 23px;
    width: 23px;
    border: 1px solid $clr2;
    border-radius: 4px;
  }

  /* On mouse-over, add a grey background color */
  .line-container:hover input ~ .checkmark {
    background-color: $clr6;
  }

  /* When the checkbox is checked, add a blue background */
  .line-container input:checked ~ .checkmark {
    background-color: $clr2;
  }

  .line-text {
    margin-left: 40px;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .line-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .line-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.type-modal-line {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  line-height: 28px;

  input {
    margin-right: 20px;
    width: 22px;
    height: 22px;
  }

  .type-modal-type-title {
    align-self: flex-start;
    font-size: em(14px);
    font-weight: 600;
  }

  .type-modal-description {
    align-self: flex-start;
    text-align: start;
    justify-self: baseline;
    font-size: em(14px) !important;
    line-height: 19px;
    color: $clr4;
  }
}

.price-modal {
  align-items: center;
  justify-content: center;
  top: 40px;
  left: 0px;
  height: 80px;
  width: 250px;

  font-weight: 600;
}

.price-range {
  width: 170px !important;
}

.amenity {
  font-size: rem(14px) !important;
  cursor: pointer;
  color: $clr2;
  border: 1px solid $clr6;
  min-width: 55px;
  text-align: center;
  transition: 0.1s;
  padding: 0px 8px;
  border-radius: 35px;
  height: 36px;
  line-height: 36px;
  margin: 0px 3px;
}

.amenitySelected {
  border: 1px solid $clr2 !important;
}

.amenity:hover {
  border: 1px solid $clr2;
}

.el-slider__bar {
  background-color: $clr1 !important;
}

.el-slider__button {
  border: 2px solid $clr1 !important;
}

//Break point
//Break point
//Break point

@media (min-width: 510px) {
  .amenities-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .price-range {
    width: 190px !important;
  }

  .smoking {
    margin-left: 3px !important;
  }
}

//Break point
//Break point
//Break point

@media (min-width: 825px) {
  .explore-filter {
    flex-direction: row;
    justify-content: flex-start;
  }

  .amenity-mini-container {
    margin-top: 0px;
  }

  .wifi {
    margin-left: 3px !important;
  }
}
