.footer{
    background-color: $clr8;
    padding: em(8px) em(24px);
}

li {
    display: inline;
    padding: em(5px);
    cursor: pointer;
}

.social-media-container{
    // padding: em(5px);
    gap: em(10px);
    cursor: pointer;
}