.main-header-container {
  position: fixed;
  width: 100vw;
  // height: rem(158px);
  height: em(150px);
  padding: em(8px) em(24px);
  box-shadow: rgb(0, 0, 0, 0.08) 0px 1px 12px;
  // color: $clr1;
  z-index: 300;
  .logo-nav-container {
    color: $clr3;
  }

  &.top {
    .logo-nav-container {
      color: $clr3;

      a {
        color: $clr3;
      }

      // .mini-search{
      //   color: $clr2;
      // }
    }
  }
  &.shrinkSearchBar {
    background-color: $clr3;
    height: em(66px);

    .logo-nav-container {
      color: $clr1;

      a {
        color: $clr2;
      }
    }
  }
  &.explore-page,
  &.details-page {
    .logo-nav-container {
      color: $clr1;

      a {
        color: $clr2;
      }
    }
  }
  &.main-search-open {
    height: em(140px);
  }

  input:focus-visible {
    outline: none;
  }
  // &.firstScroll {
  //   color: $clr1;
  //   background-color: $clr3;

  //   a {
  //     color: $clr2;
  //   }
  // }
}

.logo {
  font-size: rem(16px);
  font-family: cereal-bold;
  cursor: pointer;
  i {
    font-size: 35px;
    font-weight: bold;
  }
}

.main-header-nav {
  font-size: rem(14px);
  a {
    padding: 0 em(10px);
  }
}

//Hamburger menu
.hamburger-user-menu {
  background-color: white;
  width: 80px;
  height: 40px;
  border: 1px solid rgb(201, 201, 201);
  padding: 7px;
  border-radius: 30px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.hamburger-user-menu:hover {
  background-color: rgb(228, 228, 228);
}

.showHamburger {
  transform: translateX(-1%) !important;
}

// .search {
// }

.search-icon {
  @include search-icon;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%,-50%);
  // line-height: 20px;
  // box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  // background-color: #fff;
  // border: 1px solid #ddd;
  // border-radius: 40px;
  // height: 48px;
  // padding: 0 7px 0 16px;
  // width: 300px;
  // font-size: 14px;
  // text-indent: 5px;
}
.hamburger-avatar {
  width: 28px;
  height: 28px;
}

.hamburger-img {
  width: 22px;
}

.outsideUserMenu {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
}

.mini-search {
  // @include search-btn;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 20px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  background-color: $clr3;
  border: 1px solid $clr6;
  border-radius: 40px;
  height: 48px;
  padding: 0 7px 0 16px;
  width: 300px;
  font-size: 14px;
  text-indent: 5px;
  justify-content: space-between;
  color: $clr2;
  cursor: pointer;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.18);
  }
}

.logo-nav-container {
  width: 100%;
  justify-content: space-between;
  padding-bottom: em(10px);
}
