.header-user-menu {
  background-color: $clr3;
  // TODO: find color
  border: 1px solid rgb(204, 204, 204);
  transition: 0.2s;
  padding-top: em(7px);
  padding-bottom: em(7px);
  border-radius: em(13px);
  right: em(20px);
  top: em(50px);
  position: fixed;
  width: em(200px);
  transform: translateX(150%);

  p {
    cursor: pointer;
    margin: 0;
    transition: 0.02s;
    font-size: em(6.5px);
    padding: em(2px);
    padding-left: em(13px);
    color: $clr2;
  }

  p:hover {
    // TODO: find color
    background-color: $clr6;
  }

  hr {
    margin: 2px;
  }
}

.login-option {
  font-weight: 550 !important;
}
