.header-user-menu {
  background-color: $clr3;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  transition: 0.2s;
  padding-top: em(7px);
  padding-bottom: em(7px);
  border-radius: em(13px);
  right: em(5px);
  top: em(55px);
  position: fixed;
  width: em(200px);
  transform: translate(150%, 5%);
  z-index: 10;

  p {
    cursor: pointer;
    text-align: start;
    margin: 0;
    transition: 0.1s;
    font-size: em(15px);
    padding: em(2px) em(3px);
    padding-left: em(13px);
    font-weight: 500;
    color: $clr2;
    line-height: 30px;
  }

  p:hover {
    background-color: rgba($clr6, 0.4);
  }

  hr {
    margin: 2px;
  }
}

.showHamburger {
  transform: translatey(5%) !important;
}

.sign-up-option {
  font-weight: 600 !important;
}

.user-menu-explore{
  display: none
  ;
  @media (max-width: 966px) {
    display: block;
  }
}
