.header-container{
  width: em(1400px);
  margin: auto;
}

.main-header-container {
  position: fixed;
  width: 100%;
  // width: 100vw;
  // height: rem(158px);
  height: em(150px);
  padding-top: em(8px);
  box-shadow: rgb(0, 0, 0, 0.08) 0px 1px 12px;
  // color: $clr1;
  z-index: 300;
  .logo-nav-container {
    color: $clr3;
  }

  &.top {
     .logo-nav-container {
      color: $clr3;

      a,
      img {
        color: $clr3;
      }
    }
  }
  &.shrinkSearchBar {
    background-color: $clr3;
    height: em(66px);

    .logo-nav-container {
      color: $clr1;

      a,
      img {
        color: $clr2;
      }
    }
  }
  &.explore-page,
  &.details-page {
    .logo-nav-container {
      color: $clr1;

      a,
      img {
        color: $clr2;
      }
    }
  }
  &.details-page {
    height: em(66px);
    max-width: em(1400px);
    margin: auto;
  }
  &.main-search-open {
    height: em(140px);
  }

  input:focus-visible {
    outline: none;
  }
  // &.firstScroll {
  //   color: $clr1;
  //   background-color: $clr3;

  //   a {
  //     color: $clr2;
  //   }
  // }
}

.logo {
  font-size: rem(16px);
  font-family: cereal-bold;
  // min-width: em(166px);
  padding-inline-end: em(5px);
  cursor: pointer;
  i {
    font-size: em(33px);
    font-weight: bold;
  }
  @media (max-width: 570px) {
    h1 {
      display: none;
   }
  }
}

.main-header-nav {
  font-size: rem(14px);
  font-weight: 600;
  a {
    padding: 0 em(10px);
  }
}
//TODO: change svg color
  // .language {
    // margin-inline-start: em(5px);
    
  //   margin-inline-end: em(8px);
  //   cursor: pointer;
  //   border-radius: 50%;
  //   width: 35px;
  //   height: 35px;
  //   &:hover{
  //     background-color: $clr8;
  //   }
  // img {
  //   width: em(15px);
  //   height: em(15px);
  //   }
  // }
//Hamburger menu
.hamburger-user-menu {
  background-color: $clr3;
  width: em(78px);
  height: em(42px);
  border: 1px solid $clr6;;
  padding: 5px 5px 5px 12px;
  border-radius: 30px;
  // justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;

  &:hover{
    background-color: rgb(228, 228, 228);
  }
}

// .hamburger-user-menu:hover {
// }

.showHamburger {
  transform: translateX(-1%) !important;
}

.showSignUp {
  // display: unset !important;
  transform: translateX(-1%) !important;
}

.hamburger-avatar {
  width: em(32px);
  height: em(32px);
  justify-content: flex-end;
  margin-left: em(5px);
}

.hamburger-img {
  width: em(22px);
}

.outsideUserMenu {
  background-color: rgba(129, 129, 129, 0.1);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
}

.mini-search {
  // @include search-btn('small');
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  min-width: em(160px);
  line-height: em(20px);
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  background-color: $clr3;
  border: 1px solid $clr6;
  border-radius: 40px;
  height: 48px;
  padding: 0 7px 0 16px;
  width: 300px;
  font-size: 14px;
  text-indent: 5px;
  justify-content: space-between;
  color: $clr2;
  cursor: pointer;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.18);
  }
}

.logo-nav-container {
  width: 100%;
  justify-content: space-between;
  padding-bottom: em(10px);
}

.search-icon-small {
  display: flex;
  width: em(32px);
  height: em(32px);
  border-radius: 50%;
  border: none !important;
  background-color: $clr1;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: em(18px);
    height: em(18px);
  }
}

//TODO: doesn't work!
@media (max-width: 570px) {
 
  .fa-brands{
    font-size: em(10px);
    margin-inline-end: em(3px);
  }
  .logo-nav-container a {
    display: none;  
    //TODO: add nav to hamburger
  }
  .hamburger-user-menu{
      margin-inline-start: em(8px);
      // margin-left: em(8px);
  }
  
}

