.home-page-container{


}
.main-hero-img{
    background-image: url('@/assets/system-imgs/homepage.png');
    // height: 70vh;
    height: 1200px;
    background-size: cover ;
    background-repeat: no-repeat ;


}