.confirmed-container1 {
  padding: 94px 25px 61px;
  font-size: em(16px);

  @media (min-width: 480px) {
    padding: 94px 55px 61px;
    font-size: em(18px);
  }
  @media (min-width: 660px) {
    padding: 94px 55px 61px;
  }
  @media (min-width: 740px) {
    padding: 94px 75px 61px;
  }
  @media (min-width: 820px) {
    padding: 78px 75px 61px;
  }

  .congrats1 {
    padding-bottom: 25px;
  }

  span {
    cursor: pointer;
    color: rgb(0, 0, 201);
    transition: 0.1s;

    &:hover {
      color: $clr1;
    }
  }

  .confirm-text1 {
    margin-bottom: 15px !important;
    line-height: 29px !important;
  }

  .confirm-text1:first-of-type {
    margin-top: 25px;
  }
}

.order-confirmation-modal1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transform: translateY(-500%);
  background-color: $clr3;
  text-align: start;
  transition: 0.35s;
  z-index: 888;

  .confirmation-details1 {
    padding-top: 11px;
  }

  .trip-details1 {
    display: flex;
    justify-content: space-between;
  }

  .confirm-title1 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: em(27px);
    padding: 3px;
    padding-bottom: 40px;
    font-weight: 600;
  }

  .confirm-secondary-title1 {
    border-bottom: 1px solid $clr7;
    padding-right: 35px;
  }

  .confirm-text1 {
    font-size: em(15px);
    text-align: start;
    padding-left: 25px;
    margin-bottom: 8px;
    line-height: 25px;
  }

  .trip-details1 {
    margin-top: 20px;
  }

  .confirm-text1:last-child {
    margin-bottom: 20px;
  }

  .modal-btns-container1 {
    display: flex;
    flex-direction: column;
    height: 130px;
    margin-top: 10px;
    font-size: em(16px);

    @media (min-width: 621px) {
      margin-top: 60px;
    }
    @media (min-width: 690px) {
      margin-top: 100px;
    }

    @media (min-width: 821px) {
      display: flex;
      flex-direction: row-reverse;

      height: 130px;
      margin: auto;
      margin-top: 20px;
      width: 380px;
    }
  }

  .sign-up-continue1 {
    height: 50px;
    padding: 20px;
    width: 250px;
    color: $clr3;
    background-color: $clr1;
    line-height: 10px;
    margin: auto;
    text-align: center;
    font-size: em(20px);
    cursor: pointer;
    transition: 0.1s;
  }

  .go-back1 {
    background-color: $clr5 !important;
  }

  .sign-up-continue1:hover {
    background-color: rgba($clr9, 0.9);
  }

  .go-back1:hover {
    background-color: rgba($clr4, 0.6) !important;
  }

  .close-sign-up1 {
    position: absolute;
    right: 13px;
    top: 10px;
    font-size: em(30px) !important;
    cursor: pointer;
    transition: 0.1s;
    z-index: 500;
  }

  .close-sign-up1:hover {
    font-weight: 600;
  }

  .host-details1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    padding-top: 0px;
    max-width: 175px;
  }

  .host-image {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .host-name {
    font-size: em(15px);
    text-align: center;
  }
}

.showConfirm {
  transform: none !important;
}

@media (min-width: 450px) {
  .confirm-text {
    font-size: em(17px);
  }
}

@media (min-width: 821px) {
  .order-confirmation-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%) !important;
    height: 600px;
    width: 750px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 40%);
    border-top: 1px solid $clr6;
    border-radius: 15px;

    .confirm-title {
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      font-size: em(20px);
      padding: 3px;
      padding-bottom: 20px;
      font-weight: 600;
    }

    .confirm-text {
      font-size: em(16px);
      margin-bottom: 10px;
      // padding-top: 10px;
      line-height: 25px;
    }

    .sign-up-continue {
      height: 40px;
      width: 160px;
      margin-bottom: 20px;
      color: $clr3;
      background-color: $clr1;
      line-height: 0px;

      font-size: em(15px);
      border-radius: 10px;
      cursor: pointer;
      transition: 0.1s;
    }

    .close-sign-up {
      font-size: em(22px) !important;
    }
  }

  .showConfirm {
    transform: translate(-50%, -50%) !important;
  }
}
