//Before confirmation

.order-confirmation-modal.showConfirm {
  transform: translate(-50%, 0%);
}

.order-confirmation-modal {
  position: fixed;
  top: 7%;
  border-radius: 25px;
  line-height: 18px;
  left: 50%;
  transform: translate(-50%, -500%);
  height: 625px;
  width: 80%;
  max-width: 880px;
  padding: 40px 95px;
  background-color: $clr3;
  font-size: 17px;
  text-align: start;
  transition: 0.35s;
  z-index: 888;

  @media (max-width: 1040px) {
    font-size: 15px;
  }
  @media (max-width: 950px) {
    font-size: 14px;
  }

  @media (max-width: 870px) {
    padding: 40px 55px;
  }

  @media (max-width: 735px) {
    top: 0;
    border-radius: 0px;
    height: 100vh;
    width: 100%;
  }

  @media (max-width: 870px) {
    padding: 40px 30px;
  }

  .confirm-title-container {
    margin-bottom: 28px;

    .confirm-title {
      font-family: cereal-bold;
      margin-bottom: 28px;
      margin-top: 25px;
      letter-spacing: 1px;
      font-size: em(27px);
      font-weight: 600;

      @media (max-width: 755px) {
        margin-top: 0px;
      }

      @media (max-width: 735px) {
        margin-top: 40px;
      }
    }

    .confirm-text {
      font-size: em(15px);
      line-height: 25px;
      font-weight: 400;
    }
  }

  .reservation-details-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: 735px) {
      margin-top: 20px;
    }
  }

  .trip-details-container {
    width: 32%;
    height: 100%;

    @media (max-width: 950px) {
      width: 37%;
    }

    @media (max-width: 610px) {
      width: calc(100px + 15vw);
    }

    @media (max-width: 450px) {
      width: 60%;
    }

    @media (max-width: 370px) {
      width: 80%;
    }

    .reservation-details-title {
      font-size: em(18px);
      // font-weight: 800;
      font-family: cereal-bold;
      margin-bottom: 25px;
    }

    .mini-trip-title {
      font-size: em(15px);
      // font-weight: 600;
      font-family: cereal-bold;
      margin-bottom: 7px;
    }

    .mini-trip-detail {
      font-size: em(13px);
      font-weight: 400;
    }

    span:nth-of-type(2) {
      margin-top: 10px;
    }

    h1:nth-of-type(3) {
      padding-bottom: 6px;
    }

    .price-details-container {
      border-top: 1px solid $clr6;
      padding-top: 18px;
      gap: 9px;

      .service {
        padding-bottom: 5px;
      }

      .total-price {
        font-weight: 600;
        border-top: 1px solid $clr6;
        padding-top: 15px;
      }
    }
  }

  .order-stay-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 310px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border-radius: 10px;

    @media (max-width: 1040px) {
      width: 280px;
    }

    @media (max-width: 950px) {
      width: 240px;
      height: 220px;
    }

    @media (max-width: 610px) {
      width: calc(120px + 15vw);
      height: 190px;
    }

    @media (max-width: 550px) {
      display: none;
    }

    .order-stay-image {
      border-radius: 5px;
      margin-bottom: 8px;
      height: 200px;
      object-fit: cover;

      @media (max-width: 950px) {
        height: 145px;
      }

      @media (max-width: 610px) {
        height: 115px;
      }
    }

    .stay-detail {
      font-size: em(12px);
      margin-bottom: 5px;
      text-align: start;
      align-self: flex-start;
    }
  }

  .reservation-details,
  .confirmation-details {
    display: flex;
    flex-direction: column;
  }

  .trip-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .confirm-secondary-title {
    border-bottom: 1px solid $clr7;
    padding-right: 35px;
    gap: 8px;
  }

  .modal-btns-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 45px;
    height: 55px;
    padding: 50px 0px;
    margin: auto;
    width: 380px;

    @media (max-width: 610px) {
      gap: 35px;
      margin: auto;
    }

    @media (max-width: 460px) {
      margin-top: 30px;
      width: 350px;
      height: 120px;
      gap: 0px;
    }
    @media (max-width: 415px) {
      width: 275px;
      height: 50px;
    }
    // @media (max-width: 395px) {
    //   width: 280px;
    // }
    // @media (max-width: 395px) {
    //   width: 240px;
    // }

    @media (max-width: 365px) {
      margin-top: 10px;
    }

    .confirm {
      // font-size: em(18px) !important;
      border-inline-end: 20px;
    }

    .sign-up-continue {
      font-size: 16px;
      height: 40px;
      width: 200px;
      color: $clr3;
      background-color: $clr1;
      line-height: 10px;
      margin: auto;
      text-align: center;
      cursor: pointer;
      transition: 0.1s;

      @media (max-width: 610px) {
        height: 40px;
        width: 170px;
      }

      @media (max-width: 460px) {
        width: 130px;
      }

      @media (max-width: 415px) {
        width: 110px;
      }

      @media (max-width: 395px) {
        width: 90px;
      }
    }

    .go-back {
      font-size: 16px;
      height: 40px;
      width: 200px;
      color: $clr3;
      background-color: $clr5;
      line-height: 2px;
      margin: auto;
      text-align: center;
      cursor: pointer;
      transition: 0.1s;

      @media (max-width: 610px) {
        width: 170px;
      }

      @media (max-width: 460px) {
        width: 130px;
      }

      @media (max-width: 395px) {
        width: 90px;
      }
    }

    .sign-up-continue {
      @media (max-width: 610px) {
        height: 40px;
        width: 170px;
      }

      @media (max-width: 460px) {
        width: 130px;
      }

      @media (max-width: 415px) {
        width: 110px;
      }

      @media (max-width: 395px) {
        width: 90px;
      }
    }

    .sign-up-continue:hover {
      background-color: rgba($clr9, 0.9);
    }

    .go-back:hover {
      background-color: rgba($clr4, 0.6) !important;
    }
  }

  // .close-sign-up {
  //   position: absolute;
  //   right: 13px;
  //   top: 10px;
  //   font-size: em(30px) !important;
  //   cursor: pointer;
  //   transition: 0.1s;
  //   z-index: 500;
  // }

  // .close-sign-up:hover {
  //   font-weight: 600;
  // }
}

//After confirmation

.confirmed-container {
  padding: 94px 25px 61px;
  font-size: em(16px);

  @media (min-width: 480px) {
    padding: 94px 55px 61px;
    font-size: em(18px);
  }
  @media (min-width: 660px) {
    padding: 94px 55px 61px;
  }
  @media (min-width: 740px) {
    padding: 94px 75px 61px;
  }
  @media (min-width: 820px) {
    padding: 78px 75px 61px;
  }

  span {
    cursor: pointer;
    color: rgb(0, 0, 201);
    transition: 0.1s;

    &:hover {
      color: $clr1;
    }
  }

  .confirm-text {
    font-size: em(25px);
  }

  .confirm-text:first-of-type {
    margin-top: 25px;
  }
}

.follow-your-trip {
  margin-top: 20px;

  span {
    cursor: pointer;
    color: rgb(0, 0, 201);
    transition: 0.1s;

    &:hover {
      color: $clr1;
    }
  }

  .confirm-text {
    font-size: em(25px);
  }

  .confirm-text:first-of-type {
    margin-top: 25px;
  }
}

// .reservation-details-title {
//   border: 1px solid pink;
// }

// .orders-price-details-container {
//   border: 1px solid red;
// }

.success-sign {
  width: 35px;
  // margin-inline-end: ;
}
