//Before confirmation

.order-confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transform: translateY(-500%);
  padding: 35px calc(40vw - 200px);
  background-color: $clr3;
  text-align: start;
  transition: 0.35s;
  z-index: 888;

  .confirm-title-container {
    margin-bottom: 25px;

    .confirm-text {
      font-size: em(17px);
      line-height: 24px;
      font-weight: 400;
    }
  }

  .reservation-details-title {
    font-size: em(20px);
    font-weight: 600;
    margin-bottom: 30px;
  }

  .mini-trip-title {
    font-size: em(17px);
    font-weight: 600;
    margin-bottom: 12px;
  }

  .mini-trip-detail {
    font-size: em(15px);
    font-weight: 400;
    margin-bottom: 30px;
  }
  .reservation-details,
  .confirmation-details {
    display: flex;
    flex-direction: column;
  }

  .trip-details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .confirm-title {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: em(27px);
    padding: 3px;
    padding-bottom: 40px;
    font-weight: 600;
  }

  .confirm-secondary-title {
    border-bottom: 1px solid $clr7;
    padding-right: 35px;
  }

  .modal-btns-container {
    display: flex;
    flex-direction: column;
    height: 130px;
    margin-top: 10px;
    font-size: em(16px);

    @media (min-width: 621px) {
      margin-top: 60px;
    }
    @media (min-width: 690px) {
      margin-top: 100px;
    }

    @media (min-width: 821px) {
      display: flex;
      flex-direction: row-reverse;

      height: 130px;
      margin: auto;
      margin-top: 20px;
      width: 380px;
    }
  }

  .sign-up-continue {
    height: 50px;
    padding: 20px;
    width: 250px;
    color: $clr3;
    background-color: $clr1;
    line-height: 10px;
    margin: auto;
    text-align: center;
    font-size: em(20px);
    cursor: pointer;
    transition: 0.1s;
  }

  .go-back {
    background-color: $clr5 !important;
  }

  .sign-up-continue:hover {
    background-color: rgba($clr9, 0.9);
  }

  .go-back:hover {
    background-color: rgba($clr4, 0.6) !important;
  }

  .close-sign-up {
    position: absolute;
    right: 13px;
    top: 10px;
    font-size: em(30px) !important;
    cursor: pointer;
    transition: 0.1s;
    z-index: 500;
  }

  .close-sign-up:hover {
    font-weight: 600;
  }

  .stay-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    max-width: 275px;
    height: 268px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border-radius: 10px;

    .stay-image {
      border-radius: 5px;
      margin-bottom: 8px;
    }

    .stay-detail {
      font-size: em(12px);
      margin-bottom: 5px;
      text-align: start;
      align-self: flex-start;
    }
  }
}

.showConfirm {
  transform: none !important;
}

//After confirmation

.confirmed-container {
  padding: 94px 25px 61px;
  font-size: em(16px);

  @media (min-width: 480px) {
    padding: 94px 55px 61px;
    font-size: em(18px);
  }
  @media (min-width: 660px) {
    padding: 94px 55px 61px;
  }
  @media (min-width: 740px) {
    padding: 94px 75px 61px;
  }
  @media (min-width: 820px) {
    padding: 78px 75px 61px;
  }

  span {
    cursor: pointer;
    color: rgb(0, 0, 201);
    transition: 0.1s;

    &:hover {
      color: $clr1;
    }
  }

  .confirm-text {
    font-size: em(25px);
  }

  .confirm-text:first-of-type {
    margin-top: 25px;
  }
}

.confirm-title-container {
  border: 1px solid black;
}

.reservation-details-title {
  border: 1px solid pink;
}

.reservation-details-container {
  border: 1px solid blue;
}

.trip-details-container {
  border: 1px solid green;
}
.orders-price-details-container {
  border: 1px solid red;
}
