
.select-guests-modal {
  background-color: white;
  color: $clr2;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  width: 240px;
  position: fixed;
  top: 130px;
  right: 215px;
  padding-bottom: 15px;
  border-radius: 15px;

  .guests-type-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 15px;
    padding-top: 1px;
  }
  .select-guests-modal{
    border-bottom: 1px solid $clr11;
  }

  .guests-modal-title {
    font-weight: 600;
    font-size: em(17px);
    text-align: center;
  }

  .guests-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42%;
  }

  span {
    background-color: white;
  }

  .guests-type {
    text-align: left;
    font-size: em(17px);
    line-height: 30px;
    width: 45%;
  }
  .material-icons{
    display: flex;
    color: $clr10;
    width: 10px;
  }
}

.guest-count-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px !important;
  height: 25px !important;
  border: 1px solid $clr10;
  line-height: 30px !important;
  border-radius: 50%;
  cursor: pointer;
  // justify-self: center;
  transition: 0.1s;
}

.guest-count-icon:hover {
  border: 1px solid $clr2;
}

.guests-number {
  font-size: em(18px);
  line-height: 31px;
}

.guests-btns-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.guest-modal-btn {
  text-align: center;
  border: 1px solid $clr5;
  width: 50px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 14px;
  font-weight: 600;
  cursor: pointer;
}

.guest-modal-btn:hover {
  border: 1px solid $clr2 !important;
}
