.sign-up-modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  transform: translateY(800%);
  background-color: $clr3;
  text-align: start;
  transition: 0.35s;
  z-index: 999;

  p {
    background-color: $clr3;
    padding-left: 20px;
  }

  .input-alert {
    margin: 0;
    padding-left: 10px !important;
    font-size: em(13px);
    margin-bottom: 2px;
    color: rgb(160, 0, 0);
  }
}

.no-alert {
  margin: 0;
  font-size: em(13px);
  margin-bottom: 2px;
  color: $clr3;
}

.close-sign-up {
  position: absolute;
  right: 13px;
  top: 10px;

  font-size: em(35px) !important;
  cursor: pointer;
  transition: 0.1s;
  z-index: 500;
}

.close-sign-up:hover {
  font-weight: 600;
}

.sign-up-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: em(22px);
  padding: 5px;
  padding-bottom: 40px;
  font-weight: 600;
  border-bottom: 1px solid $clr7;
}

.sign-up-welcome {
  font-size: em(26px);
  padding: 20px;
  padding-left: 10px;
  //   padding-bottom: 0px;
  font-weight: 600;
}

.sign-up-inputs-container {
  display: flex;
  flex-direction: column;

  margin: 10px;
  margin-top: 1px;
  margin-bottom: 25px;

  .sign-up-input:first-child {
    border: 1px solid $clr7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .sign-up-input:last-child {
    border: 1px solid $clr7;
    border-top: unset;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.inputs-hr {
  width: 100%;
  color: $clr7;
}

.sign-up-input {
  height: 30px;
  padding: 20px 20px;
  border: none;
  font-size: em(16px);
}

.sign-up-continue {
  height: 50px;
  padding: 20px;
  width: 95%;
  margin-top: 40px;
  margin-bottom: 40px;
  color: $clr3;
  background-color: $clr1;
  line-height: 10px;
  margin: auto;
  text-align: center;
  font-size: em(20px);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.sign-up-continue:hover {
  background-color: rgba($clr1, 0.9);
}

.showSignUp {
  transform: translate(0, 0) !important;
}

@media (min-width: 551px) {
  .sign-up-modal {
    top: 30%;
    left: 50%;
    transform: translate(-50%, 800%);
    height: 350px;
    width: 400px;

    border-right: 1px solid $clr7;
    border-top: 1px solid $clr7;
    box-shadow: -1px 1px 1px 0px #dcdcdc;
    border-radius: 15px;
  }

  .sign-up-title {
    font-size: em(16px);
    margin-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }

  .sign-up-welcome {
    font-size: em(20px);
  }

  .close-sign-up {
    font-size: em(28px) !important;
  }

  .showSignUp {
    transform: translate(-50%, -30%) !important;
  }
}
