li {
  list-style: none;
}

.carousele {
  .block {
    padding: 4px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(180px + 35vw);
  padding: 1px;
  margin: 10px;
  font-size: em(15px);
  cursor: pointer;

  p {
    margin: 0;
    margin-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 4px;
  }
}

.el-carousel__container {
  height: calc(90px + 35vw) !important;
}

.el-carousel__item {
  background-color: white !important;
}

.card-img {
  border-radius: 10px;
  height: 100%;
}

.el-carousel__button {
  width: calc(1px + 1vw) !important;
  height: calc(1px + 1vw) !important;
  border-radius: 50px;
}

.el-carousel__container {
  height: calc(140px + 35vw);
}

.el-carousel__arrow {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: rgb(58, 58, 58, 0.95) !important;
}
.el-carousel__arrow:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.card-preview-line {
  display: flex;
  align-items: center;
}

.preview-dot {
  margin: 0px 4px;
}

.material-icons-outlined.star {
  color: $clr1;
  font-size: 18px;
}

.card-rate {
  color: $clr2;
  font-size: 14px;
  margin-left: 3px;
}

.reviews-count {
  color: $clr5;
  margin-left: 3px;
  font-size: 14px;
}

.card-preview-price {
  font-weight: bold;
}

//Break point
//Break point
//Break point

@media (min-width: 551px) {
  .card {
    height: calc(180px + 19vw);
    font-size: em(16px);
    margin: 0;
  }

  .el-carousel__container {
    height: calc(80px + 19vw) !important;
  }

  .el-carousel__button {
    width: calc(1px + 0.5vw) !important;
    height: calc(1px + 0.5vw) !important;
  }
}

//Break point
//Break point
//Break point

@media (min-width: 950px) {
  .card {
    height: calc(210px + 10vw);
  }

  .el-carousel__container {
    height: calc(110px + 10vw) !important;
  }

  .el-carousel__button {
    width: calc(1px + 0.3vw) !important;
    height: calc(1px + 0.3vw) !important;
  }
}

//Break point
//Break point
//Break point

@media (min-width: 1230px) {
  .card {
    height: calc(180px + 10vw);
  }

  .el-carousel__container {
    height: calc(80px + 10vw) !important;
  }

  .el-carousel__button {
    width: calc(1px + 0.3vw) !important;
    height: calc(1px + 0.3vw) !important;
  }
}

//Break point
//Break point
//Break point

@media (min-width: 1500px) {
  .card {
    height: calc(150px + 10vw);
  }

  .el-carousel__container {
    height: calc(50px + 10vw) !important;
  }

  .el-carousel__button {
    width: calc(1px + 0.3vw) !important;
    height: calc(1px + 0.3vw) !important;
  }
}
