.card-cont {
  margin: auto;
  padding: 10px;
}

//Break point
//Break point
//Break point

@media (min-width: 551px) {
  .card-cont {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 10px;
  }
}

//Break point
//Break point
//Break point

@media (min-width: 950px) {
  .card-cont {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
  }
}
