.stay-name {
  h1 {
    font-size: 26px;
    color: $clr2;
  }
}
.rating-reviews-location {
  color: $clr2;
  span:nth-of-type(1), span:nth-of-type(3) {
    text-decoration: underline;
  }
}

.dot-above-pictures {
  margin: 8px 8px 0px;
  color: $clr5;
}
.location-above-pictures {
  color: $clr5;
}

.below-stay-name {
  .star-rating-svg {
    width: em(14px);
  }
}

.share-save {
  .share-svg {
    width: em(14px);
  }
  .like-svg {
    width: em(14px);
  }
}
.type-host-and-stay-properties{
  img{
    width: em(56px);
    border-radius: 50%;
  }

}
.selected-popular-amenities img{
  width: em(24px);
}

.main-amenities-list img{
  width: em(24px);
}

.reviews-and-rating img{
  width: em(16px);
}