.stay-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-cont {
  margin: auto;
  padding: 10px 0px;
}

.stays-count {
  font-weight: bold;
  margin: 0;
  font-size: rem(20px);
  padding-top: 10px;
  padding-bottom: 15px;
}

.no-results {
  width: 100%;
  font-size: em(45px);
  padding: 28px 15px;
}

.loading-img-container {
  width: 95%;
  display: flex;
}

.loading-img {
  width: 200px;
  align-self: center;
  margin: auto;
}

//Break point
//Break point
//Break point

@media (min-width: 551px) {
  .card-cont {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 15px;
    padding: 10px 0px;
  }
  .loading-img {
    width: 300px !important;
  }

  .no-results {
    padding: 28px 0px;
  }
}

//Break point
//Break point
//Break point

@media (min-width: 950px) {
  .card-cont {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

//Break point
//Break point
//Break point

@media (min-width: 1230px) {
  .card-cont {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

//Break point
//Break point
//Break point

@media (min-width: 1910px) {
  .card-cont {
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 20px;
  }
}
