li {
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(110px + 35vw);
  padding: 1px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.card-img {
  border-radius: 10px;
  height: 65%;
}

.card-review-cont {
  display: flex;
  align-items: center;
  margin: 0;
}

.material-icons-outlined.star {
  color: $clr1;
  font-size: 18px;
}

.card-review-cont .card-rate {
  color: $clr2;
  font-size: 14px;
  margin-left: 3px;
}

.reviews-count {
  color: $clr5;
  margin-left: 3px;
  font-size: 14px;
}

//Break point
//Break point
//Break point

@media (min-width: 551px) {
  .card {
    height: calc(90px + 19vw);
    margin: 0;
  }
}

//Break point
//Break point
//Break point

@media (min-width: 950px) {
  .card {
    height: calc(130px + 10vw);
  }
}
