.stay-name {
  h1 {
    font-size: 26px;
    color: $clr2;
  }
  button {
    color: $clr2;
  }
}
.dot-above-pictures {
  margin: 8px 8px 0px;
  color: $clr5;
}
.location-above-pictures {
  color: $clr5;
}
