.main-search-container {
  // align-items: center;
  transform-origin: top;
  // position: relative;
  transition: all 0.2s;
  top: em(75px);
  // line-height: em(20px);
  padding: em(15px);
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  background-color: $clr3;
  border: 1px solid $clr6;
  border-radius: em(40px);
  font-size: rem(14px);
  height: em(67px);
  // max-width: em(850px);
  min-width: 600px;

  span {
    width: 1px;
    height: em(24px);
    background-color: $clr6;
  }
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.header-input {
  input {
    // background-color: $clr3;
    padding: em(10px);
    border: none;
    color: $clr5;
    border-radius: em(40px);
    width: em(150px);
    font-weight: 400;
  }
  .label {
    color: $clr2;
    font-family: cereal-bold;
    // font-weight: 800;
    font-size: em(12px);
    // position: absolute;
    // left: 0;
  }
}

// date-picker:
.block {
  opacity: 0;
  position: absolute;
  transform: translate(-80%, -35%);
  padding: em(30px) 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  flex: 1;
}
.block:last-child {
  border-right: none;
}
.block .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: em(14px);
  margin-bottom: em(20px);
}
//date-picker/>

.guestsInput {
  // @include search-icon;
}

.search-icon {
  //TODO remember to put flex on element
  display: flex;
  width: em(32px);
  height: em(32px);
  border-radius: 50%;
  border: none;
  background-color: $clr1;
  color: $clr3;
  align-items: center;
  justify-content: center;

  img {
    width: em(18px);
    height: em(18px);
  }
}
