.search-form-container{ 
    align-items: center;   
}

.input-container{
    // background-color: $clr3;
    padding: em(10px);
    border: none;
  }

//date-picker:
.block {
    padding: 30px 0;
    text-align: center;
    border-right: solid 1px var(--el-border-color);
    flex: 1;
  }
  .block:last-child {
    border-right: none;
  }
  .block .demonstration {
    display: block;
    color: var(--el-text-color-secondary);
    font-size: 14px;
    margin-bottom: 20px;
  }
////date-picker/>


