.home-page-container {
  .tag {
    font-family: cereal-bold;
    font-size: em(25px);
    color: $clr3;
    position: absolute;
    letter-spacing: 0.11em;
    // background-color: black;
    text-shadow: -2px -2px $clr2;
  }

  .tag-line-container {
    // transform: translate(0%, 1117%);
  }
  .tag-line1 {
    transform: translate(77px, 1400%);
  }
  .tag-line2 {
    transform: translate(65%, 1650%);
  }
}
.main-hero-img {
  position: relative;
  background-image: url("@/assets/system-imgs/homepage5.jpeg");
  background-position: 50% 80%;
  // background-position: center center;
  height: 70vh;
  width: 100%;
  // height: auto;
  // aspect-ratio: ;
  // height: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
  // TODO:
  aspect-ratio: 5 / 3;
  // img{
  // height: 50vh;
  // width: 100%;

  // }
}

//Popular destinations

.main-layout-homepage {
  // width: calc(90%);
  padding-inline: 5%;
  // width: 95%;
  margin: auto;
}

//for stay app page (explore)
.stay-app-layout {
  width: 90% !important;
  margin: auto;
}

.destinations-header {
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 5vw;
  color: $clr2;
}

.destinations-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 5px;

  img {
    aspect-ratio: 1.5/1;
    border-radius: 15px;
  }

  a {
    transition: 0.2s;
  }

  a:hover {
    opacity: 0.85;
  }

  h3 {
    margin-top: calc(1px + 0.5vw);
    font-size: calc(em(1px) + 3.3vw);
    font-weight: 550;
    color: $clr2;
    margin-bottom: 30px;
  }

  h4 {
    margin-top: calc(1px + 0.5vw);
    font-size: calc(em(1px) + 3.1vw);
    color: $clr2;
    margin-bottom: 30px;
    font-weight: 100;
  }

  .card-preview-line {
    margin: 3px 0px;
  }
}

//Break point
//Break point
//Break point

@media (min-width: 555px) {
  .destinations-header {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: calc(em(7px) + 2vw);
  }

  .destinations-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 24px;
    margin-top: 20px;

    h3 {
      font-size: calc(em(5px) + 1.7vw);
      margin-top: 5px;
    }

    h4 {
      font-size: calc(em(10px) + 0.8vw);
      line-height: 22px;
    }
  }
}

//Break point
//Break point
//Break point

@media (min-width: 1000px) {
  .main-layout-homepage {
    // width: calc(92vw);
    padding-inline: 4%;
    // width: 96%;
  }

  //for stay app page (explore)
  .stay-app-layout {
    width: 92% !important;
  }

  .destinations-header {
    margin-top: 40px;
    font-size: calc(em(4px) + 1.8vw);
  }

  .destinations-container {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;

    h3 {
      font-size: calc(em(10px) + 0.7vw);
      margin-top: 15px;
    }

    h4 {
      font-size: calc(em(9px) + 0.5vw);
    }
  }
}

// delete
.demo-date-picker {
  display: flex;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
}
.demo-date-picker .block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px var(--el-border-color);
  flex: 1;
}
.demo-date-picker .block:last-child {
  border-right: none;
}
.demo-date-picker .demonstration {
  display: block;
  color: var(--el-text-color-secondary);
  font-size: 14px;
  margin-bottom: 20px;
}
