// .home-page-container {

// }

.main-hero-img {
  background-image: url("@/assets/system-imgs/homepage.png");
  height: 70vh;
  // height: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
}

//Popular destinations

.destinations-header {
  margin: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 5vw;
  color: $clr2;
}

.destinations-containter {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 5px;

  img {
    aspect-ratio: 1.5/1;
    border-radius: 15px;
  }

  a {
    transition: 0.2s;
  }

  a:hover {
    opacity: 0.85;
  }

  h3 {
    margin-top: calc(1px + 0.5vw);
    font-size: calc(em(1px) + 3.3vw);
    font-weight: 550;
    color: $clr2;
    margin-bottom: 30px;
  }

  h4 {
    margin-top: calc(1px + 0.5vw);
    font-size: calc(em(1px) + 3.1vw);
    color: $clr2;
    margin-bottom: 30px;
  }
}

//Break point
//Break point
//Break point

@media (min-width: 555px) {
  .destinations-header {
    margin: 25px;
    margin-bottom: 0px;
    margin-left: 40px;
    font-size: calc(em(7px) + 2vw);
  }

  .destinations-containter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 40px;
    margin-top: 20px;

    h3 {
      font-size: calc(em(5px) + 1.7vw);
      margin-top: 5px;
    }

    h4 {
      font-size: calc(em(10px) + 0.8vw);
      line-height: 22px;
    }
  }
}

//Break point
//Break point
//Break point

@media (min-width: 950px) {
  .destinations-header {
    margin-top: 40px;
    font-size: calc(em(4px) + 1.8vw);
  }

  .destinations-containter {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;

    h3 {
      font-size: calc(em(10px) + 0.7vw);
      margin-top: 15px;
    }

    h4 {
      font-size: calc(em(9px) + 0.5vw);
    }
  }
}
