///// dashboard ///
//This is the correct css file

///// dashboard ///
//This is the correct css file

.dashboard {
  padding-top: em(180px);

  .title {
    font-size: em(28px);
    padding-bottom: 20px;
  }
  // border: 1px solid $clr7;
}

/////list/////
.dashboard-title {
  font-weight: 600;
}

///// preview//////
.dashboard-order-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  border-bottom: 1px solid $clr10;

  .stay-link {
    color: blue;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      color: $clr1;
      font-weight: 600;
    }
  }

  &.hover {
    background-color: $clr7;
  }

  div {
    text-align: center;
    padding: 5px;
  }

  .host {
    width: 120px;

    @media (max-width: 1100px) {
      display: none;
    }
  }

  .booker {
    width: 100px;

    @media (max-width: 1050px) {
      display: none;
    }
  }

  .date {
    width: 80px;

    @media (max-width: 960px) {
      display: none;
    }
  }

  .nights {
    width: 60px;

    @media (max-width: 890px) {
      display: none;
    }
  }

  .price {
    width: 80px;

    @media (max-width: 820px) {
      display: none;
    }
  }

  .total {
    width: 80px;
  }

  .status {
    width: 120px;
    font-weight: 600;
  }

  .trip-dates,
  .stay {
    width: 165px;
  }
  .actions {
    width: 180px;
  }

  .trip-actions {
    width: 70px;
  }

  .guests {
    width: 60px;
  }

  .approved {
    color: rgb(0, 131, 0);
  }

  .rejected {
    color: rgb(180, 0, 0);
  }

  .canceled {
    color: rgb(117, 117, 117);
  }

  .pending {
    color: rgb(0, 0, 219);
  }

  .actions-container {
    display: flex;
    justify-content: space-around;

    button {
      color: $clr3;
      padding: 5px 10px;
      font-size: em(14px);
      transition: 0.1s;
      border-radius: 7px;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
  button:last-of-type {
    border: 1px solid rgb(0, 131, 0);
    background-color: rgb(0, 131, 0);

    &:hover {
      border: 1px solid rgb(0, 175, 0);
      background-color: rgb(0, 175, 0);
    }

    &:active {
      border: 1px solid rgb(0, 211, 0);
      background-color: rgb(0, 211, 0);
    }
  }
  .cancel,
  button:first-of-type {
    border: 1px solid #b30000;
    background-color: #b30000;

    &:hover {
      border: 1px solid #ee0000;
      background-color: #ee0000;
    }

    &:active {
      border: 1px solid #ff3b3b;
      background-color: #ff3b3b;
    }
  }
}

// .dash-board {
//   padding-top: em(180px);
//   // border: 1px solid $clr7;
// }

// /////list/////
// .dashboard-title {
//   font-weight: 600;
// }

// ///// preview//////
// .dashboard-order-cont {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 15px 0px;
//   border-bottom: 1px solid $clr5;

//   .stay-link {
//     color: blue;
//     cursor: pointer;
//     transition: 0.1s;

//     &:hover {
//       color: $clr1;
//       font-weight: 600;
//     }
//   }

//   &.hover {
//     background-color: $clr7;
//   }

//   div {
//     text-align: center;
//     padding: 5px;
//   }

//   .host {
//     width: 120px;

//     @media (max-width: 1100px) {
//       display: none;
//     }
//   }

//   .booker {
//     width: 100px;

//     @media (max-width: 1050px) {
//       display: none;
//     }
//   }

//   .date {
//     width: 80px;

//     @media (max-width: 960px) {
//       display: none;
//     }
//   }

//   .nights {
//     width: 60px;

//     @media (max-width: 890px) {
//       display: none;
//     }
//   }

//   .price {
//     width: 80px;

//     @media (max-width: 820px) {
//       display: none;
//     }
//   }

//   .total {
//     width: 80px;
//   }

//   .status {
//     width: 120px;
//     font-weight: 600;
//   }

//   .trip-dates,
//   .stay {
//     width: 165px;
//   }
//   .actions {
//     width: 180px;
//   }

//   .trip-actions {
//     width: 70px;
//   }

//   .guests {
//     width: 60px;
//   }

//   .approved {
//     color: rgb(0, 131, 0);
//   }

//   .rejected {
//     color: rgb(180, 0, 0);
//   }

//   .canceled {
//     color: rgb(117, 117, 117);
//   }

//   .pending {
//     color: rgb(0, 0, 219);
//   }

//   .actions-container {
//     display: flex;
//     justify-content: space-around;

//     button {
//       color: $clr3;
//       padding: 5px 10px;
//       font-size: em(14px);
//       transition: 0.1s;
//       border-radius: 7px;

//       &:disabled {
//         opacity: 0.5;
//         cursor: not-allowed;
//       }
//     }
//   }
//   button:last-of-type {
//     border: 1px solid rgb(0, 131, 0);
//     background-color: rgb(0, 131, 0);

//     &:hover {
//       border: 1px solid rgb(0, 175, 0);
//       background-color: rgb(0, 175, 0);
//     }

//     &:active {
//       border: 1px solid rgb(0, 211, 0);
//       background-color: rgb(0, 211, 0);
//     }
//   }
//   .cancel,
//   button:first-of-type {
//     border: 1px solid #b30000;
//     background-color: #b30000;

//     &:hover {
//       border: 1px solid #ee0000;
//       background-color: #ee0000;
//     }

//     &:active {
//       border: 1px solid #ff3b3b;
//       background-color: #ff3b3b;
//     }
//   }
// }
