///// dashboard ///
//This is the correct css file

///// dashboard ///
//This is the correct css file

.dashboard {
  padding-top: em(113px);

  .title {
    font-size: em(28px);
    padding-bottom: 35px;
  }
  // border: 1px solid $clr7;
}

/////list/////
.titles {
  @media (max-width: 760px) {
    display: none !important;
  }
}

.dashboard-title {
  font-weight: 600;
  .price {
    display: flex;
    flex-direction: column;
  }
}

///// preview//////
.dashboard-order-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  border-bottom: 1px solid $clr10;

  @media (max-width: 760px) {
    flex-direction: column;
    font-size: em(19px);
    border-bottom: none;
    border-top: 1px solid black;
  }

  .detail {
    @media (max-width: 760px) {
      width: 90% !important;
      text-align: start;
    }
  }

  .mobile-title {
    display: none;
    @media (max-width: 760px) {
      display: inline;
      font-weight: 600;
      color: $clr2;
    }
  }

  .stay-link {
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      font-weight: 600;
    }
  }

  &.hover {
    background-color: $clr7;
  }

  div {
    text-align: center;
    padding: 5px;
  }

  .host {
    width: 120px;

    @media (max-width: 1250px) {
      display: none;
    }
  }

  .booker {
    width: 100px;

    @media (max-width: 1160px) {
      display: none;
    }
  }

  .date {
    width: 80px;

    @media (max-width: 1270px) {
      display: none;
    }
  }

  .nights {
    width: 60px;

    @media (max-width: 1350px) {
      display: none;
    }
  }

  .price {
    width: 80px;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  .total {
    width: 80px;
  }

  .status {
    width: 120px;
    font-weight: 600;
  }

  .trip-dates {
    width: 165px;
  }

  .stay {
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .actions {
    width: 160px;
  }

  .trip-actions {
    width: 80px;
  }

  .guests {
    width: 60px;
  }

  .approved {
    color: rgb(0, 131, 0);
  }

  .rejected {
    color: rgb(180, 0, 0);
  }

  .canceled {
    color: rgb(117, 117, 117);
  }

  .pending {
    color: rgb(0, 0, 219);
  }

  // .trip-actions {
  //   width: 70px;

  //   @media (max-width: 760px) {
  //     align-self: flex-start;
  //     width: 100% !important;
  //   }
  // }

  .actions-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: 760px) {
      gap: 15px;
    }

    button {
      color: $clr3;
      padding: 5px 10px;
      font-size: em(14px);
      transition: 0.1s;
      border-radius: 7px;

      @media (max-width: 760px) {
        width: 48%;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        @media (max-width: 760px) {
          background-color: grey !important;
          border: 1px solid gray;
        }
      }
    }
  }
  button:first-of-type {
    border: 1px solid rgb(0, 131, 0);
    background-color: rgb(0, 131, 0);

    &:hover {
      border: 1px solid rgb(0, 175, 0);
      background-color: rgb(0, 175, 0);
    }

    &:active {
      border: 1px solid rgb(0, 211, 0);
      background-color: rgb(0, 211, 0);
    }
  }
  .cancel,
  button:last-of-type {
    border: 1px solid #b30000;
    background-color: #b30000;

    &:hover {
      border: 1px solid #ee0000;
      background-color: #ee0000;
    }

    &:active {
      border: 1px solid #ff3b3b;
      background-color: #ff3b3b;
    }
  }
}
