@import "../components/images-container";
@import "../components/stay-details/footer-hero-modal";
@import "../components/stay-details/secondary-header-mobile-header";
@import "../components/stay-details/selected-popular-amenities";
@import "../components/stay-details/main-amenities-section";
@import "../components/stay-details/score-scales";
@import "../components/stay-details/reviews-section";
@import "../components/stay-details/hero-modal";

.stay-details-main-layout {
  max-width: 1400px;
  margin: auto;
  font-size: 20px;
  @media (max-width: 1600px) {
    max-width: 1120px;
    font-size: 16px;
  }
}
.stay-details-page {
  padding-top: em(90px);
  color: $clr2;
  margin: auto;


  .secondary-header-and-images-container {
    display: flex;
    flex-direction: column;
    @media (max-width: 760px) {
      flex-direction: column-reverse;
    }
  }

  .hero-modal-and-general-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .general-info {
      width: 60%;
      @media (max-width: 760px) {
        width: 100%;
      }
    }
  }
  .general-info {
    width: calc(50vw - em(90px));
  }
  .type-host-and-stay-properties {
    display: flex;
    padding: em(25.5px) 0 em(24px);
    justify-content: space-between;
    align-items: center;
    .type-host-and-stay-property-text {
      display: flex;
      flex-direction: column;
    }
    .stay-type-host-name {
      font-size: em(20px);
      font-weight: 600;

      @media (max-width: 880px) {
        // line-height: em(28px);
        font-size: em(18px);
      }
    }
    .stay-properties {
      display: flex;
      flex-direction: row;
      list-style-type: disc;
      font-size: em(16px);
      justify-content: space-between;
      gap: em(20px);
      padding: unset;
      li:first-of-type {
        list-style-type: none;
      }
      @media (max-width: 880px) {
        font-size: em(14px);
      }
    }

    img {
      width: em(52px);
      border-radius: 50%;
      align-self: flex-start;
    }
    border-bottom: 1px solid $clr6;
  }


  .section-stay-summary {
    padding: em(32px) 0px em(48px);
    .stay-summary {
      font-size: em(14px);
      line-height: em(24px);
    }
    .summary-show-more {
      display: flex;
      margin: em(16px) 0px 0px;
      font-size: 1.2em;
      font-weight: 600;
      text-decoration: underline;
      letter-spacing: em(1px);
      img {
        width: em(12px);
      }
    }
    border-bottom: em(1px) solid $clr6;
  }

  // // /// ////// //////
  // HALF THE PAGE
  // // /// ////// //////


}
