.stay-details-main-layout {
  max-width: 1400px;
  margin: auto;
  font-size: 20px;
  @media (max-width: 1600px) {
    max-width: 1120px;
    font-size: 16px;
  }
}

.stay-details-page {
  padding-top: em(90px);
  color: $clr2;
  margin: auto;
  @media (max-width: 760) {
    // padding-top: unset;
  }
  .footer-hero-modal {
    display: none;
    @media (max-width: 760px) {
      width: 100%;
      position: fixed;
      z-index: 1;
      bottom: 0;
      width: 100%;
      left: 0;
      display: flex;

      padding: 0px em(10px);
      justify-content: space-between;
      align-items: center;
      height: em(100px);
      background-color: $clr3;
      border-top: em(1px) solid $clr6;
    }
    img {
      width: em(10px);
    }
    .footer-hero-modal-price {
      display: flex;
      margin-bottom: em(6px);
      line-height: em(30px);
      :first-child {
        font-size: em(22px);
        font-weight: 600;
      }
      :last-child {
        font-size: em(16px);
      }
    }
    .footer-hero-modal-rating {
      font-family: circular-book;
    }
    .footer-check-availability-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: em(8px);
      border-top-right-radius: em(8px);
      border-bottom-left-radius: em(8px);
      border-bottom-right-radius: em(8px);
      height: em(45px);
      width: em(185px);
      color: $clr6;
      font-family: circular-book;
      font-size: em(20px);
      font-weight: 500;
      background-color: $clr1;
    }
    .footer-check-availability-container:hover {
      background-color: rgba($clr1, 0.9);
    }
  }
  .secondary-header-and-images-container {
    display: flex;
    flex-direction: column;
    @media (max-width: 760px) {
      flex-direction: column-reverse;
    }
  }
  .mobile-secondary-header {
    display: none;
    @media (max-width: 760px) {
      display: flex;
      padding-bottom: 30px;
    }
    .back-home {
      display: flex;
      align-items: center;
      font-weight: 600;
      img {
        width: 16px;
      }
    }
  }
  .secondary-header {
    .stay-name {
      h1 {
        margin-bottom: em(15px);
        font-size: em(26px);
        font-weight: 600;
        line-height: 30px;
      }
    }

    .below-stay-name {
      display: flex;
      justify-content: space-between;

      .star-rating-svg {
        width: em(14px);
      }

      .rating-reviews-location {
        span:first-of-type {
          padding-left: em(4px);
        }
        span:nth-of-type(3) {
          padding: 0px 0px 0px em(4px);
          text-decoration: underline;
          font-weight: 600;
        }
        .dot-above-pictures {
          margin: em(8px) em(8px) 0px;
          color: $clr5;
          font-weight: bold;
        }
        .location-above-pictures {
          color: $clr5;
          text-decoration: underline;
        }
      }
      .share-save {
        display: flex;
        .share {
          display: flex;
          align-items: center;
          .share-svg {
            width: em(14px);
          }
          span {
            margin: 0px em(8px);
          }
        }
        .like-svg {
          width: em(14px);
        }
      }
      .save-like {
        display: flex;
        align-items: center;
        span {
          margin: 0px em(8px);
        }
      }
    }
  }
  .hero-modal-and-general-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .general-info {
      width: 60%;
      @media (max-width: 760px) {
        width: 100%;
      }
    }
  }
  .general-info {
    width: calc(50vw - em(90px));
  }
  .type-host-and-stay-properties {
    display: flex;
    padding: em(34px) 0 em(24px);
    justify-content: space-between;
    .type-host-and-stay-property-text {
      display: flex;
      flex-direction: column;
    }
    .stay-type-host-name {
      font-size: em(24px);
      font-weight: 600;
      line-height: em(20px);
      @media (max-width: 880px) {
        line-height: em(28px);
      }
      @media (max-width: 880px) {
        font-size: em(18px);
      }
    }
    .stay-properties {
      display: flex;
      flex-direction: row;
      list-style-type: disc;
      font-size: em(16px);
      justify-content: space-between;
      gap: em(20px);
      padding: unset;
      li:first-of-type {
        list-style-type: none;
      }
      @media (max-width: 880px) {
        font-size: em(14px);
      }
    }

    img {
      width: em(56px);
      border-radius: 50%;
      align-self: center;
    }
    border-bottom: 1px solid $clr6;
  }

  .selected-popular-amenities {
    padding: em(32px) 0px;
    .popular-amenities {
      display: flex;
      margin: 0px 0px em(24px);
    }
    img {
      width: em(24px);
    }

    .popular-amenities-text {
      margin: 0px 0px em(16px);
      margin-left: em(16px);
      .popular-amenities-title {
        font-size: 1.2em;
        font-weight: 600;
        line-height: em(24px);
        margin: 0px 0px em(4px);
      }
      .popular-amenities-description {
        color: $clr5;
        line-height: em(22px);
      }
    }
    border-bottom: em(1px) solid $clr6;
    :last-child {
      margin-bottom: unset;
    }
  }
  .section-stay-summary {
    padding: em(32px) 0px em(48px);
    .stay-summary {
      font-size: em(14px);
      line-height: em(24px);
    }
    .summary-show-more {
      display: flex;
      margin: em(16px) 0px 0px;
      font-size: 1.2em;
      font-weight: 600;
      text-decoration: underline;
      letter-spacing: em(1px);
      img {
        width: em(12px);
      }
    }
    border-bottom: em(1px) solid $clr6;
  }

  .main-amenities-section {
    padding: em(48px) 0px;
    h1 {
      padding: 0px 0px em(24px);
      font-size: em(24px);
      font-weight: 600;
    }
    .amenities-list {
      .amenity-container {
        display: flex;
        flex-wrap: wrap;
        gap: em(10px);
        .amenity-item {
          flex: 1 1 em(190px);
          display: flex;
          align-items: center;
          gap: em(15px);
          padding: 0 0 em(16px);
          img {
            width: em(24px);
          }
        }
        @media (max-width: 870px) {
          font-size: em(14px);
        }
      }
    }
  }
  .reviews-section {
    border-top: em(1px) solid $clr6;
    padding-top: em(48px);
    .reviews-and-rating {
      img {
        width: em(16px);
      }
      span:first-of-type {
        font-size: em(20px);
        font-weight: 600;
        padding-left: em(8px);
      }
    }
    .score-scales{
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 px;
      
      span{
        font-size: 16px !important;
        font-family: circular-light;

    }
    .reviews-scores{
      display: flex;
      height: 36px;

    }
      .scale-threshold{
        width: 120px;
        height: 4px;
        background-color: rgba(113, 113, 113, 1);
        border-radius: 15px;
        div:last-of-type{
          height: 4px;
          background-color: black;
          background-color: rgba(34,34,34,1);
          border-radius: 15px;
        }
      }
    }
    .reviews-list-ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: unset;
      li {
        flex: 1 1 em(360px);
        .review-guest-name-date {
          display: flex;
          align-items: center;
          line-height: 30px;

          img {
            width: em(56px);
            border-radius: 50%;
          }
          .name-and-date {
            display: flex;
            flex-direction: column;
            :first-child {
              font-weight: bold;
            }
            :last-child {
              color: $clr5;
            }
          }
          margin: 0px 0px em(16px);
        }

        .review-text {
          font-family: cereal-book;
          line-height: em(26px);
          margin-inline-end: em(60px);
        }
        .review-show-more {
          display: flex;
          font-size: em(14px);
          font-weight: 600;
          margin: em(8px) 0px 0px;
          img {
            width: em(12px);
          }
        }
      }
      .review-preview {
        margin: 0px 0px em(40px);
      }
    }
  }

  // // /// ////// //////
  // HALF THE PAGE
  // // /// ////// //////

  .heroWithDates {
    padding-bottom: em(49px) !important;

    @media (max-width: 1600px) {
      padding-bottom: em(53px) !important;
    }

    @media (max-width: 880px) {
      padding-bottom: em(75px) !important;
    }
  }

  .hero-modal {
    position: relative;
    display: flex;
    width: 40%;
    justify-content: flex-end;
    padding: em(48px) 0px em(183px) 0px;

    @media (max-width: 880px) {
      padding-bottom: em(204px);
    }

    @media (max-width: 760px) {
      display: none;
    }
    // // /// ////// //////
    // THE MODAL CONTAINER
    // // /// ////// //////

    .hero-modal-wrapper {
      position: sticky;
      top: 6rem;
      display: flex;
      justify-content: center;
      width: 90%;
      height: em(270px);

      // background-color: green;

      // // /// ////// //////
      // THE ACTUAL MODAL
      // // /// ////// //////

      .showSummary {
        height: em(255px) !important;

        @media (max-width: 1600px) {
          height: em(260px) !important;
        }
        @media (max-width: 880px) {
          height: em(282px) !important;
        }
      }

      .hero-modal-container {
        box-shadow: 0 em(3px) em(10px) rgb(0 0 0 / 0.2);
        border-radius: em(15px);
        width: 100%;
        height: em(390px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: em(20px);

        @media (max-width: 880px) {
          height: em(410px);
        }

        .hero-modal-header {
          display: flex;
          justify-content: space-between;
          margin: 0px 0px em(24px);
          width: 90%;

          @media (max-width: 880px) {
            margin: 0px 0px em(10px);
            flex-direction: column;
            line-height: em(28px);
            align-items: center;
          }

          .hero-modal-price {
            display: flex;
            align-items: center;
            :first-child {
              font-size: em(18px);
              font-weight: 600;
            }
            :last-child {
              font-size: em(15px);
            }
          }
          .hero-modal-rating-reviews {
            font-family: circular-light;
            font-size: em(13px);
            display: flex;
            align-items: center;
            img {
              width: em(12px);
            }
            span:nth-of-type(2) {
              font-weight: 600;
              padding: 0px 0px 0px em(4px);
            }
            span:last-of-type {
              font-weight: 600;
              text-decoration: underline;
              padding: 0px 0px 0px em(4px);
            }
          }
        }
        .hero-modal-selection {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          .hero-modal-check-container {
            display: flex;
            position: relative;
            width: 100%;
            justify-content: center;
            flex-direction: row;

            .hero-modal-check-in {
              border: em(0.8px) solid rgb(176, 176, 176);
              border-top-left-radius: em(8px);
              border-bottom: unset;
              border-right: unset;
              padding-top: em(6px);
              padding-left: em(8px);
              width: 45%;
              height: em(56px);
              div:first-of-type {
                font-family: circular-book;
                font-size: em(10px);
              }
              div:last-of-type {
                color: $clr5;
              }
            }
            .hero-modal-check-out {
              border: em(0.8px) solid rgb(176, 176, 176);
              border-top-right-radius: em(8px);
              border-bottom: unset;
              padding-top: em(6px);
              padding-left: em(8px);
              width: 45%;
              div:first-of-type {
                font-family: circular-book;
                font-size: em(10px);
              }
              div:last-of-type {
                color: $clr5;
              }
            }
          }
          .hero-modal-guests {
            border: em(0.8px) solid rgb(176, 176, 176);
            border-bottom-left-radius: em(8px);
            border-bottom-right-radius: em(8px);
            width: 90%;
            height: em(56px);
            padding-top: em(6px);
            padding-left: em(8px);
            label {
              font-family: circular-book;
              font-size: em(10px);
            }
            div {
              color: $clr5;
            }
          }
          .check-availability-container {
            display: flex;
            align-items: center;
            margin-top: em(18px);
            justify-content: center;
            border-top-left-radius: em(8px);
            border-top-right-radius: em(8px);
            border-bottom-left-radius: em(8px);
            border-bottom-right-radius: em(8px);
            width: 90%;
            height: em(48px);
            color: $clr3;
            background-color: $clr1;
          }
          .check-availability-container:hover {
            background-color: rgba($clr1, 0.9);
          }
          .hero-modal-check-in,
          .hero-modal-check-out,
          .check-availability-container,
          .hero-modal-guests:hover {
            cursor: pointer;
          }
        }

        .summary-details-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 90%;

          .no-charge {
            margin-top: 17px;
            margin-bottom: 30px;
            font-size: em(13px);
            color: $clr4;
            text-align: center;

            @media (max-width: 1600px) {
              margin-top: 15px;
              margin-bottom: 10px;
            }
          }

          .total-price-details {
            display: flex;
            color: $clr4;
            justify-content: space-between;
            padding-bottom: 20px;

            @media (max-width: 1600px) {
              padding-bottom: 15px;
            }

            .total-price-item {
              text-decoration: underline 1px $clr4;
            }
          }
          .total-price-details:nth-of-type(2) {
            border-bottom: 1px solid $clr6;
            padding-bottom: 25px;

            @media (max-width: 1600px) {
              padding-bottom: 20px;
            }
          }

          .total {
            color: $clr2;
            font-weight: 600;
            margin-top: 22.5px;

            @media (max-width: 1600px) {
              margin-top: 18px;
            }

            span {
              text-decoration: none !important;
            }
          }
        }
      }
    }
  }
}
