// ::selection {
    // background-color: $clr1;
    // color: $clr3;
// }

* {
    box-sizing: border-box;
    // line-break: strict;
}

html { 
   font-family: cereal-book ,circular-book, sans-serif;
   font-size: 14px;
   line-height: rem(18px);
   letter-spacing: normal;
// font-weight: 600; 
// line-height: 1.8;
// line-height: lh(26px);
}

body {
    margin: 0;
    background-color: $clr3;
}

h1, h2, h3, h4, h5, h6 {
    // font-weight: 600;
    margin: 0;
    // line-height: lh(40px, 29px);
}

img {
    width: 100%;
}

// links
a {
    text-decoration: none;
    color: inherit;

    //TODO: remember to change:
    &:visited {
        color: inherit;
      }

//     &.active {
//         
//     }
}

