.heroWithDates {
    padding-bottom: em(49px) !important;

    @media (max-width: 1600px) {
      padding-bottom: em(53px) !important;
    }

    @media (max-width: 880px) {
      padding-bottom: em(75px) !important;
    }
  }

  .hero-modal {
    position: relative;
    display: flex;
    width: 40%;
    justify-content: flex-end;
    padding: em(26px) 0px em(183px) 0px;

    @media (max-width: 880px) {
      padding-bottom: em(204px);
    }

    @media (max-width: 760px) {
      display: none;
    }
    // // /// ////// //////
    // THE MODAL CONTAINER
    // // /// ////// //////

    .hero-modal-wrapper {
      position: sticky;
      top: 6rem;
      display: flex;
      justify-content: center;
      width: 90%;
      height: em(270px);

      // background-color: green;

      // // /// ////// //////
      // THE ACTUAL MODAL
      // // /// ////// //////

      .showSummary {
        height: em(255px) !important;

        @media (max-width: 1600px) {
          height: em(260px) !important;
        }
        @media (max-width: 880px) {
          height: em(282px) !important;
        }
      }

      .hero-modal-container {
        box-shadow: 0 em(3px) em(10px) rgb(0 0 0 / 0.4);
        border-radius: em(15px);
        width: 100%;
        height: em(390px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: em(20px);

        @media (max-width: 880px) {
          height: em(410px);
        }

        .hero-modal-header {
          display: flex;
          justify-content: space-between;
          margin: 0px 0px em(24px);
          width: 90%;

          @media (max-width: 880px) {
            margin: 0px 0px em(10px);
            flex-direction: column;
            line-height: em(28px);
            align-items: center;
          }

          .hero-modal-price {
            display: flex;
            align-items: center;
            :first-child {
              font-size: em(18px);
              font-weight: 600;
            }
            :last-child {
              font-size: em(15px);
            }
          }
          .hero-modal-rating-reviews {
            font-family: circular-light;
            font-size: em(13px);
            display: flex;
            align-items: center;
            img {
              width: em(12px);
            }
            span:nth-of-type(2) {
              font-weight: 600;
              padding: 0px 0px 0px em(4px);
            }
            span:last-of-type {
              font-weight: 600;
              text-decoration: underline;
              padding: 0px 0px 0px em(4px);
            }
          }
        }
        .hero-modal-selection {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          .hero-modal-check-container {
            display: flex;
            position: relative;
            width: 100%;
            justify-content: center;
            flex-direction: row;
            
            .hero-modal-check-in {
             display: flex;
             flex-direction: column;
             justify-content: center;
              border: em(0.8px) solid rgb(176, 176, 176);
              border-top-left-radius: em(8px);
              border-bottom: unset;
              border-right: unset;
              // padding-top: em(6px);
              padding-left: em(8px);
              width: 45%;
              height: em(56px);
              div:first-of-type {
                font-family: circular-book;
                font-size: em(10px);
              }
              div:last-of-type {
                color: $clr5;
              }
            }
            .hero-modal-check-out {
              display: flex;
              flex-direction: column;
              justify-content: center; 
              border: em(0.8px) solid rgb(176, 176, 176);
              border-top-right-radius: em(8px);
              border-bottom: unset;
              padding-top: em(6px);
              padding-left: em(8px);
              width: 45%;
              div:first-of-type {
                font-family: circular-book;
                font-size: em(10px);
              }
              div:last-of-type {
                color: $clr5;
              }
            }
          }
          .hero-modal-guests {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: em(0.8px) solid rgb(176, 176, 176);
            border-bottom-left-radius: em(8px);
            border-bottom-right-radius: em(8px);
            width: 90%;
            height: em(56px);
            padding-left: em(8px);
            label {
              font-family: circular-book;
              font-size: em(10px);
            }
            div {
              color: $clr5;
            }
          }
          .check-availability-container {
            display: flex;
            align-items: center;
            margin-top: em(18px);
            justify-content: center;
            border-top-left-radius: em(8px);
            border-top-right-radius: em(8px);
            border-bottom-left-radius: em(8px);
            border-bottom-right-radius: em(8px);
            width: 90%;
            height: em(48px);
            color: $clr3;
            background-color: $clr1;
          }
          .check-availability-container:hover {
            background-color: #e51e4f;
          }
          .hero-modal-check-in,
          .hero-modal-check-out,
          .check-availability-container,
          .hero-modal-guests:hover {
            cursor: pointer;
          }
        }

        .summary-details-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 90%;

          .no-charge {
            margin-top: 17px;
            margin-bottom: 30px;
            font-size: em(13px);
            color: $clr4;
            text-align: center;

            @media (max-width: 1600px) {
              margin-top: 15px;
              margin-bottom: 10px;
            }
          }

          .total-price-details {
            display: flex;
            color: $clr4;
            justify-content: space-between;
            padding-bottom: 20px;

            @media (max-width: 1600px) {
              padding-bottom: 15px;
            }

            .total-price-item {
              text-decoration: underline 1px $clr4;
            }
          }
          .total-price-details:nth-of-type(2) {
            border-bottom: 1px solid $clr6;
            padding-bottom: 25px;

            @media (max-width: 1600px) {
              padding-bottom: 20px;
            }
          }

          .total {
            color: $clr2;
            font-weight: 600;
            margin-top: 22.5px;

            @media (max-width: 1600px) {
              margin-top: 18px;
            }

            span {
              text-decoration: none !important;
            }
          }
        }
      }
    }
  }