// header//

@media (max-width: 570px) {
    .logo {
    //   font-size: em(20px);
    }
    .logo-nav-container a {
      display: none;  
      //TODO: add nav to hamburger
    }
    .hamburger-user-menu{
        margin-inline-start: em(8px);
        // margin-left: em(8px);
    }
    
  }
  
  
  // footer //

@media (max-width: 570px) {
  .footer{
  flex-direction: column-reverse;
  }
  //TODO: doesn't work!!!
  .social-media-container{
    justify-content: space-around;
    // justify-content: unset;
    margin-bottom: em(10px);
  }
  .rights-nav-container{
    justify-content: space-between;
  }
}