@font-face {
    font-family: circular-light;
    src: url(~@/assets/fonts/CircularStd-Light.otf);
}

@font-face {
    font-family: circular-book;
    src: url(~@/assets/fonts/CircularStd-Book.otf);
}